.blog{
    width: 82%;
    padding-left: 8%;
    padding-right: 8%;
    margin-bottom: 5%;
}
.h2Blog{
    font-size: 41px;
    font-weight: 700;
    letter-spacing: 0;
    opacity: 1;
    color: #2E2E2E;
}
.Blogh3{
    font-size: 29px;
    font-weight: 700;
    color: #2E2E2E;
    opacity: 1;
    letter-spacing: 0;
    text-align: center;
}

.containerBlogs{
    display: flex;
    margin-top: 10%;
    align-items: center;
    justify-content: space-around;
}
/* .containerBlog{
    align-content: center;
} */
.fotoBlog{
    width: 305px;
    height: 320px;
    background-color: #D8D8D8;
    /* border: solid; */
}

.h4Blog{
    font-size: 29px;
    font-weight: 700;
    color:#2E2E2E;
    letter-spacing: 0;
    opacity: 1;
    margin-top: 2%;
    text-align: left;
}
.buttonVerMasBlogHome{
    width: 206px;
    height: 66px;
    color: #2E2E2E;
    opacity: 1;
    letter-spacing: 0;
    font-weight: 700;
    border: solid #707070 3px;
    font-size: 17px;
    margin-top: 5%;
}