.containerNuestraHistoria {
    display: flex;
    padding-left: 12%;
    padding-right: 12%;
    margin-top: 2%;
    margin-bottom: 2%;
    justify-content: space-around;
}

.nuestraHistoriaIzquierda {
    width: 45%;
}

.titleNuestraHistoria {
    font-size: 41px;
    font-weight: 700;
    color: #2E2E2E;
    letter-spacing: 0;
    opacity: 1;
    text-align: left;
}

.p1NuestraHistoria {
    font-size: 24px;
    font-weight: 500;
    color: #767676;
    text-align: left;
    letter-spacing: 0;
    opacity: 1;
    width: 522px;

}

.p2NuestraHistoria {
    font-size: 24px;
    font-weight: 500;
    color: #767676;
    opacity: 1;
    letter-spacing: 0;
    text-align: left;
    width: 522px;
}

.nuestraHistoriaDerechaComillas {
    width: 35%;
    background-color: #3B7381;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 3%;
    margin-top: 6%;
    height: auto;
    justify-content: center;
}
.sup{
    font-weight: 700 !important;
    font-size: 28px !important;
    margin-top: 0 !important;
    margin-bottom: 0 !important;
    padding: 0 7% 0 5%;
}

.nuestraHistoriaDerecha {
    width: 55%;
    display: flex;
    flex-wrap: wrap;
    align-content: center;
    margin-top: 8%;
    justify-content: flex-end;
    display: none;
}

.hilera1,
.hilera2 {
    display: flex;
    flex-wrap: nowrap;
    justify-content: space-between;

}

.containerTilulos {
    width: 250px;
    display: flex;
    flex-direction: column;
    /* justify-content: center; */
    align-items: center;

}

.containerIcon {
    width: 45px;
    height: 45px;
    border: solid gray 2px;
    border-radius: 20%;
}

.titulosNuestraHistoria {
    font-size: 15px;
    text-align: right;
    color: #222222;
    font-weight: 600;
    opacity: 1;
    letter-spacing: 0;
    margin-bottom: 2px;
    margin-top: 2px;
}

.parrafoNuestraHistoria {
    font-size: 16px;
    font-weight: 500;
    text-align: left;
    color: #767676;
    opacity: 1;
    letter-spacing: 0;
    margin-top: 0;
}
.ContainerComillaInf{
    display: flex;
    justify-content: flex-end;
    width: 105%;
    margin-top: -7%;
}

@media screen and (max-width: 1200px) {
    .containerNuestraHistoria {
        flex-direction: column;
        padding: 0;
        margin: 0;
        justify-content: center;
        align-items: center;
        width: 100%;
    }

    .nuestraHistoriaIzquierda {
        width: 80%;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
    }

    .nuestraHistoriaDerecha {
        width: 80%;
        display: flex;
        justify-content: center;
        align-items: center;
        display: none;
    }

    .nuestraHistoriaDerechaComillas {
        width: 94%;
        justify-content: center;
        align-items: center;
        padding-bottom: 12%;
        padding-top: 12%;
    }
    .sup{
        font-size: 18px !important;
    }

    .titleNuestraHistoria {
        font-size: 30px;
    }

    .p1NuestraHistoria,
    .p2NuestraHistoria {
        font-size: 18px;
        width: 100%;
        text-align: left;
        line-height: 30px;
    }
    .hilera1,
    .hilera2 {
        width: 100%;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        flex-wrap: wrap;
    }

    .hilera2 {
        margin-bottom: 5vw;
    }

}
@media screen and (min-width: 767px) and (max-width: 1024px){
    .sup{
        font-size: 22px !important;
    }
    /* .ContainerComillaInf{
        margin-top: -6%;
        width: 60%;
    } */
   
}
@media screen and (min-width: 1025px) and (max-width: 1440px){
    .titleNuestraHistoria{
        font-size: 32px;
    }
    .p2NuestraHistoria{
        font-size: 16px;
        line-height: 32px;
        width: auto;
    }
    .sup{
        font-size: 24px !important;
        line-height: 32px !important;
    }
}