.containerComoPodemosAyudarte{
    width: 100%;
    background-color: #125B62;
    /* background-image: url(); */
    height: 500px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items:center;
}
.titleComoPodemosAyudarte{
    color: #FFFFFF;
    font-size: 60px;
    font-weight: 700;
    text-shadow: 0px 3px 50px #4B4B4BE8;
    opacity: 1;
}
.buttonContactameComoPodemosAyudarte{
    background-color: #6BBEC6;
    box-shadow: 0px 3px 6px #000000A3;
    border-radius: 8px;
    opacity: 1;
    width: 286px;
    height: 61px;
    border: none;
    font-weight: bold;
    font-size: 19px;
    color: #FFFFFF;
}
.buttonContactameComoPodemosAyudarte:hover{
    background-color: #3B7381;
    cursor: pointer;
}

@media screen and (max-width: 1200px) {
    .containerComoPodemosAyudarte{
        height: 250px;
    }
    .titleComoPodemosAyudarte{
        font-size: 30px;
    }
    .buttonContactameComoPodemosAyudarte{
        width: 150px;
        height: 40px;
        font-size: 15px;
    }
}