.containerMisiones{
    margin-right: 15%;
}

.containerMisionCompleta{
    border:#A5A5A5 solid 1px;
    margin-bottom: 4%;
    opacity: 1;
}

.titleMasButton{
    display: flex;
    justify-content: space-between;
    padding: 2% 4% 2% 4%;
    align-items: center;
    
}
.titleMasButton-{
    display: flex;
    justify-content: space-between;
    padding: 2% 4% 2% 4%;
    align-items: center;
    border-bottom: solid #A5A5A5 2px;
}

.titleMisiones{
    font-size: 20px;
    font-weight: 700;
    color: #303030;
}

.buttonMisiones-{
    width: 40px;
    height: 40px;
    background-color: #6BBEC6;
    display: flex;
    justify-content: center;
    align-items: center;
    border: none;
    font-weight: 700;
    color: #FFFFFF;
    font-size: 28px;
}
.buttonMisiones-:hover, .buttonMisiones{
    cursor: pointer;
}
.buttonMisiones{
    width: 40px;
    height: 40px;
    background-color: #FFFFFF;
    display: flex;
    justify-content: center;
    align-items: center;
    border: none;
    font-weight: 700;
    color: #6BBEC6;
    font-size: 28px;

}
.pMisiones{
    font-size: 18px;
    font-weight: 500;
    text-align: left;
    letter-spacing: 0;
    opacity: 1;
    color: #767676;
    padding: 2% 4% 2% 4%;
}