@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@1,500&display=swap');

.containerPorqueElegirnos {
    padding-left: 12%;
    padding-right: 12%;
    display: flex;
    margin-bottom: 8%;
}

.containerTitleyMisiones {
    width: 50%;
}

.titlePorqueElegirnos {
    letter-spacing: 0px;
    opacity: 1;
    font-size: 41px;
    font-weight: 700;
    color: #303030;
    margin-bottom: 10%;
}
.titlePorqueElegirnos samp{
    color: #54A9BE;
}

.containerTexsComillas {
    width: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.containerTextComillas {
    width: 80%;
    background-color: #6BBEC6;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 4%;
    margin-top: 12%;
    /* height: 300px; */
    height: auto;
}

.pComilla {
    font-style: italic;
    font-weight: 500;
    font-size: 20px;
    text-align: left;
    letter-spacing: 0px;
    color: #FFFFFF;
    opacity: 1;
    line-height : 40px;
}
.comillaInferior{
    margin-bottom: 2%;
}
.imageComilla{
    margin: 0 2% 2% 0;
}
.containerCitaInferior{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 100%;
    font-style: italic;
    color: #FFFFFF;
    font-weight: 500;
}

@media screen and (max-width: 1200px) {
    .containerPorqueElegirnos {
        flex-direction: column;
        margin: 0;
        padding: 0;
        justify-content: center;
        align-items: center;
        width: 100%;
    }

    .containerTitleyMisiones {
        width: 80%;
    }

    .titlePorqueElegirnos {
        font-size: 26px;
    }

    .containerTexsComillas {
        width: 100%;
    }

    .containerTextComillas {
        width: 90%;
        justify-content: center;
        align-items: center;
        height: 100%;
        margin-bottom: 5vw;
    }

    .containerComilla {
        display: flex;
        justify-content: flex-start;
        width: 100%;
        margin-left: 22%;
    }

    .pComilla {
        width: 70%;
        text-align: left;

    }
    /* .comillaInferior{
        margin-left: 80%;
    } */

}