.containerCPA{
    width: 100%;
    background-color: #F9F9F9;
    padding-top: 5%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: center;
    
}
.h2CPA{
color: #2E2E2E;
font-size: 41px;
font-weight: 700;
}
.h2CPAColor{
    color: #6BBEC6;
}
.pCPA{
    margin-top: 4%;
    width: 75%;
    align-self: center;
    font-weight: 500;
    font-size: 22px;
    color: #626D71;
    opacity: 1;
    text-align: left;
    
}
.containerServiciosCPA{
    display: flex;
    justify-content: space-around;
    align-content: center;
    padding-left: 8%;
    padding-right: 8%;
    margin-top: 8%;
    margin-bottom: 5%;
    height: 130px;
}
.ServiciosCPA{
    width: 120px;
    
}
.buttonServiciosCPA{
    background-color: #D8D8D8 0% 0% no-repeat padding-box;
    width: 86px;
    height: 86px;
    border-radius: 100%;
    border:none;
    opacity: 1;
}
.buttonServiciosCPA:hover{
    background-color: #3B7381;
    width: 95px;
    height: 95px;
}
.buttonServiciosCPA:active, .buttonServiciosCPAActivo{
    background-color:  #54A9BE;
    background-color: #D8D8D8 0% 0% no-repeat padding-box;
    width: 86px;
    height: 86px;
    border-radius: 100%;
    border:none;
    opacity: 1;
}

.pServiciosCPA{
    color: #2D2D2D;
    font-weight: 700;
    opacity: 1;
    font-size: 19px;
}
/* #buttonSectPueba{
    background-color: #53A8BD;
} */
#pSectPueba{
    color: #6BBEC6;
}

.servicioAmpliado{
    width: 99%;
    display: flex;
    height: 40vw;
}

/* .ServicioAmpliadoInfo{
    width: 40%;
    background-color: #53A6BB;
    display: flex;
   /* justify-content: center; */
    /* flex-direction: column;
    padding: 5%;
}
.h4ServicioAmpliado{
    font-size: 41px;
    font-weight: 700;
    color: #FFFFFF;
    opacity: 1;
    letter-spacing: 0px;
    margin-top: 15%;
    text-align: right;
    margin-right: 2%;
}
.pServicioAmpliado{
    height: 500px;
    color: #FFFFFF;
    opacity: 1;
    font-size: 20px;
    text-align: left;
    font-weight: 500;
} */

/* 
.ServicioAmpliadoFoto{
    width: 50%;
    background-color: #D8D8D8;
} */ 
#iconoService{
    width: 50px;
    
}
#iconoService:hover{
fill: blanchedalmond;
}

@media screen and (max-width:1200px) {
    .containerCPA{
        align-items: center;
    }
    .h2CPA{
        font-size: 26px;
        width: 80%;
    }
    .pCPA{
        font-size: 14px;
        width: 70%;
    }
    .containerServiciosCPA{
        flex-wrap: wrap;
        width: 80%;
        justify-content: center;
        align-items: center;
        align-content: normal;
        height: 100%;
        /* padding: 0; */
        /* margin: 0; */
    }
    .ServiciosCPA{
        margin: 5%;
    }
}