.Header {
    height: 120px;
}

.containerHeader {
    background-color: #FFFFFF;
    position: fixed;
    display: flex;
    align-items: center;
    justify-content: space-around;
    width: 84%;
    height: 120px;
    border: solid;
    padding-left: 8%;
    padding-right: 8%;
}

.containerLogo {
    display: flex;
    align-items: center;
}

.logoHeader {
    width: 200px;
}

.containerButtonHeader {
    width: 45%;
    display: flex;
    justify-content: space-between;
}

.buttonHeader {
    font-weight: 700;
    border: none;
    color: #707070;
    background-color: #FFFFFF;
    font-size: 15px;
}

.containerIconHeader {
    width: 15%;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.iconosRedes {
    width: 48px;
    height: 48px;
}