.Header {
    height: 120px;
}

.containerHeader {
    background-color: #FFFFFF;
    position: fixed;
    display: flex;
    align-items: center;
    justify-content: space-around;
    width: 84%;
    height: 120px;
    /* border: solid; */
    padding-left: 8%;
    padding-right: 8%;
    z-index: 100;
}

.containerLogo {
    display: flex;
    align-items: center;
}

.logoHeader {
    width: 200px;
}

.containerButtonHeader {
    width: 45%;
    display: flex;
    justify-content: space-between;
}

.buttonHeader {
    font-weight: 700;
    border: none;
    color: #707070;
    background-color: #FFFFFF;
    font-size: 15px;
}

.buttonHeader:hover{
    color: #54A9BE;
    cursor: pointer;
}

.containerIconHeader {
    width: 15%;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.iconosRedes {
    width: 48px;
    height: 48px;
}
.iconosRedes:hover{
    color: #3B7381;
    width: 52px;
    height: 52px;
    cursor: pointer;
}
.containerHeaderResponsive{
    display: none;
}
.iconMenuDesolegable{
    width: 40px;
}



@media screen and (max-width: 1200px)
{
    .Header{
        height: 25vw;
        
    }
    .containerHeader{
        display: none;
    }
    .containerHeaderResponsive{
        position: fixed;
        display: flex;
        width: 100vw;
        justify-content: space-around;
        align-items: center;
        background-color: #FFFFFF;
        height: 100px;
        z-index: 300;
        height: 25vw;

    }
    .containerMenuDesplegable{
        width: 100%;
        /* height: 100%; */
        position: fixed;
        padding-top: 25vw;
        flex-direction: column;
        display: flex;
        z-index: 200;
       
    }
    .containerButtonHeaderDesplegable{
       width: 100%;
       height: 40vw;
       flex-direction: column;
       display: flex;
       background-color: #FFFFFF;
       align-items: center;
       justify-content: space-around;
       padding-bottom: 5vw;
       padding-top: 5vw;

    }
    .buttonHeaderDesplegable{
        height: 100%;
        background-color: #FFFFFF;
        border: none;
        font-weight: 700;
        border: none;
        color: #707070;
        font-size: 3vw;
        padding-bottom: 2vw;
        padding-top: 2vw;


    }
    .containerIconHeaderDesplegable{
        padding-top: 3vw;
        background-color: #FFFFFF;

    }
    .containerIconHeaderDesplegable{
        display: flex;
        align-items: center;
        justify-content: space-evenly;
        padding-bottom: 4vw;
       /* border-bottom: solid #707070 1px; */

    }
    .iconosRedesResponsive{
        width: 6vw;
        height: 6vw;
    }
    @media screen and (min-width:768px) and  (max-width: 1200px){
        .containerHeaderResponsive{
            height: 15vw;
            width: 100%;
        }
        .Header{
            height: 15vw;
        }
        .containerMenuDesplegable{
            padding-top: 15vw;
        }
    }
    
}
