.ServicioAmpliadoInfo{
    width: 47%;
    background-color: #53A6BB;
    display: flex;
   /* justify-content: center; */
    flex-direction: column;
    padding: 3%;
}
.h4ServicioAmpliado{
    font-size: 41px;
    font-weight: 700;
    color: #FFFFFF;
    opacity: 1;
    letter-spacing: 0px;
    /* margin-top: 5%; */
    text-align: left;
    /* margin-right: 2%; */
    margin: 1%;
}
.pServicioAmpliado{
    height: 500px;
    color: #FFFFFF;
    opacity: 1;
    font-size: 20px;
    text-align: left;
    font-weight: 500;
    line-height:32px;
    margin-bottom: 0;
}
.buttonServicioAmpliado{
    height: 60px;
    width: 170px;
    color: #FFFFFF;
    border: 1px solid #FFFFFF;
    box-shadow: 0px 3px 6px #000000A3;
    border-radius: 8px;
    font-size: 19px;
    font-weight: 700;
    margin-top: 0;
    background-color: #53A6BB;

}
.buttonServicioAmpliado:hover{
    cursor: pointer;
}
.ServicioAmpliadoFoto{
    width: 50%;
    background-color: #D8D8D8;
}
#servicioAsea{
    background-image: url(./img/Artboard–1.png);
    background-size: cover;

}
#servicioCre{
    background-image: url("./img/Artboard–2.png");
    background-size: cover;
}
#servicioSener{
    background-image: url("./img/Artboard–3.png");
    background-size: cover;
}
#servicioConsultoria{
    background-image: url("./img/Artboard–4.png");
    background-size: cover;
}
#servicioAdministracion{
    background-image: url("./img/Artboard–5.png");
    background-size: cover;
}
#sevicioNuevosN{
    background-image: url("./img/Artboard–6.png");
    background-size: cover;

}
.buttonServiciosResponsive{
    display: none;
}

@media screen and (max-width:1200px) {
    .servicioAmpliado{
        width: 100%;
        flex-direction: column-reverse;
        height: 100%;
    }
    .ServicioAmpliadoInfo{
        width: 100%;
        padding: 0;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    .h4ServicioAmpliado{
        font-size: 26px;
        text-align: center;
        margin-top: 8%;
    }

    .pServicioAmpliado{
        font-size: 14px;
        width: 75%;
        height: 100%;
        margin-bottom: 8%;
    }
    .ServicioAmpliadoFoto{
        width: 100%;
        height: 50vw;
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
    .buttonServicioAmpliado{
        margin-bottom: 35%;
    }
    .buttonServiciosResponsive{
        display: block;
        margin: 4%;
        width: 28px;
        height: 28px;
        border-radius: 50%;
        background-color: #6BBEC6;
        border: none;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    .buttonServiciosResponsive:hover{
        background-color: #FFFFFF;
    }
    .iconButtonServiciosAmpliado{
        width: 10px;
    }
    .right{
        margin-left: 32%;
    }
    .left{
        margin-right: 32%;
    }



}
@media screen and (min-width: 1025px) and (max-width: 1440px){
    .h4ServicioAmpliado {
        font-size: 32px;
    }
    .pServicioAmpliado{
        font-size: 16px;
        line-height: 32px;
    }
}
@media screen and (max-width:768px) {
  .buttonServicioAmpliado{
    display: none;
}  
}

