.containerContenidos{
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    margin-bottom: 5%;
}
.containerItemContenido{
    width: 70%;
}
.titlesContenido{
    color: #2E2E2E;
    font-size: 41px;
    text-align: left;
    letter-spacing: 0;
    opacity: 1;
}
.iconFlechaSolu{
    margin-right: 1%;
}
.pContenidos{
    font-size: 24px;
    color: #7A7A7A;
    opacity: 1;
    text-align: left;
    line-height: 200%;
}

.containerUlContenidos{
    display: flex;
    width: 100%;
}

.ulContenidos{
    width: 50%;
    text-align: left;
    color: #7A7A7A;
    font-size: 24px;
    text-decoration: none;
    margin-bottom: 2%;
    padding: 0;
}
.ulContenidos li{
  text-decoration: none;
  list-style: none;
  margin: 4% 0 4% 0;
  display: flex;
  align-items:baseline;
  justify-content: baseline;
} 
.ulContenidos li samp{
    font-size: 25px;
    color: #6BBEC6;
    margin-right: 2%;
    font-weight: bold;
}

.simulacionImagen{
    width: 100%;
    height: 30vw;
}
#solucionAsea{
    background-image: url("./Images/ASEA_dkt.jpg");
    background-size: cover;
}
#solucionCre{
    background-image: url("./Images/CRE_dkt.jpg");
    background-size: cover;
}
#solucionSener{
    background-size: cover;
    background-image: url("./Images/SENER_dkt.jpg");
}
#solucionConsultoria{
    background-size: cover;
    background-image: url("./Images/Consultoria_dkt.jpg");
}
#solucionAdministracion{
    background-size: cover;
    background-image: url("./Images/Admin_dkt.jpg");
}
#solucionNuevosN{
    background-image: url("./Images/NuevosNegocios_dkt.jpg");
    background-size: cover;

}

@media screen and (max-width: 1200px) {
    .containerItemContenido {
        width: 90%;
    }
    .titlesContenido{
        font-size: 25px;
    }
    .pContenidos{
        font-size: 16px;
    }
    .containerUlContenidos{
        flex-direction: column;
        justify-content: center;
        align-items: center;
       
    }
    .ulContenidos{
        font-size: 16px;
        width: 90%;
        margin-bottom: 0;
        margin-top: 0;
    }
    .ulContenidos li{
         margin-block-start: 0;
        margin-block-end: 0;
        margin-bottom: 4%;
       
    }
    .ulContenidos li samp{
        font-size: 20px;
    }
    .simulacionImagen{
        width: 100%;
        height: 50vw;
    }
   
}
@media screen and (min-width: 1025px) and (max-width: 1440px){
    .titlesContenido{
        font-size: 32px;
    }
    .pContenidos{
        font-size: 19px;
        line-height: 42px;
    }
    .ulContenidos{
        font-size: 18px;
        padding:0 2% 0 2%;
       
    }
    .ulContenidos li{
        margin-block-start: 0;
        margin-block-end: 0;
        margin-bottom: 2%;
    }
    .simulacionImagen{
        width: 100%;
        height: 40vw;
    }
}
@media screen and (max-width: 768px) {
    .ulContenidos li{
    margin-block-start: 0;
    margin-block-end: 0;
    margin-bottom: 5%;
}
.simulacionImagen{
    width: 100%;
    height: 70vw;
}
#solucionAsea{
    background-image: url("./Images/ASEA_mob.jpg");
    background-size: cover;
}
#solucionCre{
    background-image: url("./Images/CRE_mob.jpg");
    background-size: cover;
}
#solucionSener{
    background-size: cover;
    background-image: url("./Images/SENER_mob.jpg");
}
#solucionConsultoria{
    background-size: cover;
    background-image: url("./Images/CONSULT_mob.jpg");
}
#solucionAdministracion{
    background-size: cover;
    background-image: url("./Images/Admin_mob.jpg");
}
#solucionNuevosN{
    background-image: url("./Images/NVOSNEG_mob.jpg");
    background-size: cover;

}

}
